body {
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.btn {
  height: 200px;
  width: 200px;
  cursor: pointer;
  font-size: 60px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #333;
  box-shadow: 5px 5px 10px #202020, -5px -5px 10px #464646;
}